$app-main-text-color: #333;

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 8px;
$column-height: calc(#{$board-content-height} - #{$gap * 2});
$card-border-radius: 5px;

$board-bg-color: #0079bf;
$app-bar-bg-color: #0067a3;
$column-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);
$alert-danger: #ee5253;
