@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "_setting.scss";

body {
  margin: 0;
  line-height: 1.3em;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
}

.app-container {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  font-weight: 500;
  color: $app-main-text-color;
  .icon {
    font-size: 14px;
    margin-right: 5px;
  }
  .trello-container {
    margin: 0 15px;
    padding: 0;
  }
  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }
  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .trello-content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: white;
    }
  }
  div.add-item-control {
    display: flex;
    align-items: center;
  }
  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;
    i {
      font-size: 18px;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}
